

#clockContainer{
    /* border: 2px solid red; */
    height: 30vw;
    width: 30vw;
    /* height: 440px;
    width: 440px; */
    background: url(./images/clock.png) no-repeat;
    background-size: 100%;
    margin: auto;
    opacity: 0.8;
    position: relative;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;

}

#hour {
    width: 2%;
    height: 24%;
    top: 26%;
    left: 48.9%;
    /* display: none; */
}

#minute {
    width: 1%;
    height: 34%;
    top: 16%;
    left: 49.4%;
    opacity: 0.8;
    /* display: none; */
    
    
}
#second {
    color: red;
    background: red;;
    width: .5%;
    height: 38%;
    top: 12%;
    left: 49.6%;
    opacity: 0.8
    /* display: none; */
    
}

#date-container{
    
    width: 100%;
    max-width: 500px;
    height: 50px;
    max-height: auto;
    color:#fff;
    align-items: center;
    text-align: center;
    background:#232323;
    opacity: 0.8;
    margin: 0.5em auto;
    border-radius: 30px;
    
    padding: 0.3em 1em;
    /* margin: 1em 1em; */
    font-size: 1em;
}

.fullDate{
    display: inline-block;
    align-items: center;
    padding-top: 0.5em;
}

